


.contenedor{
    height: 550px;
}
.verificar{
    width: 90%;
}
.box1{
    background-color: #A4A3FF;
    height: 600px;

}
.box2{
    color: black;
    height: 600px;
    
}
.boxFooter{
    width: 45%;

}
.boxFooter h4{
    text-align: center;
}
.box1 a{
    color: white;
}
.box2 a{
    color: #3da4ab;

}
.box1-terminos a{
    color: white;
}
input{
    margin: 5px 0;
    width: 100%;
    border-radius: 15px;
    border:none;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);
    padding-left: 10px;

}
textarea{
    margin: 5px 0;
    width: 100%;
    border-radius: 15px;
    border:none;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);
    padding-left: 10px;

    
}
h2{
    text-align: center;
    margin: 10px 0;
    text-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);
    
}
.listaEncuentra li{
    margin: 10px 0;
    list-style: url(https://icon-icons.com/icons2/317/PNG/32/map-marker-icon_34392.png);
}
.listaChatea li{
    margin: 10px 0;
    list-style: none;
}
.listaFooter li{
    list-style: url(https://icon-icons.com/icons2/1132/PNG/32/1486348525-music-forward-front-next-arrow_80457.png);
}
.chatea{
    width: 225px;
    height: 375px;
}
.repara p{
    font-style: sans-serif;
}
.none{
    display: none;
}
.carUbic{
    background-color: #A4A3FF;
    border: hidden;
}

.form-control{

width: 30vw;
border-radius: 20px;


}




.carRepara{
    width: 40%;
    text-align: center;
    background-color: #A4A3FF;
    border: 2px dashed black;
    margin: 15px 0;
}
.mapaCiudad{
    width: 175px;
    height: 225px;
}
.custocareLogo{
    width: 75px;
    height: 100px;
}
.box1-terminos{
    border: 2px;
    width: 70%;
    padding: 20px;
    background-color: #A4A3FF;
    color: white;
}
.clausulaUno h6{
    margin-top: 40px;
    margin-bottom: 20px;
}
.cuerpo-terminos{
    background-color: #b1b493;
}

.my-footer{
height: 20%;




}