@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{

    font-family: 'Raleway', sans-serif;


}


.header {
    background: url(../images/CUSTOCARE_01.png), url(../images//VECTOR_02.png);
    
    background-repeat: no-repeat, no-repeat;

    background-color: #A4A3FF;
    background-size: 40%, 100%;
    background-position: bottom right, bottom;
    min-height: 100vh;

  }



.header .navbar {
    background-color: transparent !important;

  }

h1{

    padding-top: 30px;
    color: white;
    text-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);
}

.my-btn{

font-weight: bold;
width: 40vh;
height: 8vh;
font-size: 25px;
box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);



}

.my-container{
    width: 700px;
    height: 500px;
    margin-top: 200px;
}

.my-container .btn {
    width: 70vh;
    height: 8vh;
    font-size: 25px;
    border-radius: 30px;


    
}


.my-cnt{

    min-height: 80vh;
    background-color: #EBF0FF;
}

.my-cnt-01{

    min-height: 80vh;
    background-color: white;
}


.my-col{

background-color:white;
width: 20%;
height: 20%;
border-radius: 35px;
box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);

}

.my-img{

size: 2%;



}


.btn{
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.226);


}